.track-item {
  padding: 8px 0;
  border-bottom: 1px solid hsla(0, 0%, 20%, 1);

  display: grid;
  grid-template-areas:
    "name     artist    album     duration";
  grid-auto-columns: 1.5fr 1fr 1fr 0.5fr;

  font-size: 0.95em;

  &:hover {
    background-color: hsla(0, 0%, 14%, 1);
  }
}

.track-item__name {
  padding-left: 5px;
  grid-area: name;
}

.track-item__artist {
  grid-area: artist;
}

.track-item__album {
  grid-area: album;
}

.track-item__duration {
  padding-right: 5px;
  grid-area: duration;
  text-align: right;
}
