.export-modal {
  display: grid;
  position: absolute;
  height: 200px;
  animation: fade-in 1s;
  width: 320px;
  top: calc(50vh - 190px);
  left: calc(50% - 160px);
  background-color: #282828;
  border: 1px solid transparent;
  border-radius: 3px;
  grid-template-areas:
    "title  title"
    "input  input"
    "add    close";
  padding: 20px;
  grid-template-rows: 60px 80px 60px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.export-modal__title {
  grid-area: title;
  text-align: center;
  font-size: 1.4em;
  border-bottom: 2px solid hsla(0, 0%, 22%, 1);
  display: inline-block;
}

.export-modal__input {
  grid-area: input;
  display: flex;
  flex-direction: column;
  height: 100%;

  & input {
    display: block;
    color: inherit;
    font: inherit;
    font-size: 0.85em;
    border: 1px solid hsl(0, 0%, 22%);
    padding: 10px;
    border-radius: 3px;
    background-color: hsl(0, 0%, 26%);
    &:focus {
      outline: 1px solid hsl(0, 0%, 22%);
    }
  }
}

.export-modal__input__name {
  display: block;
  font-size: 1.2em;
}

.export-modal__errors {
  font-size: 0.75em;
  color: red;
}

.export-modal__input__description {
  display: block;
  font-size: 1.2em;
}

.export-modal__button--export {
  grid-area: add;
  text-align: center;
}

.export-modal__button--close {
  grid-area: close;
  text-align: center;
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
