.header-container {
  grid-row: header;
  padding: 20px 0px 10px 60px;
}

.header-container__name {
  font-size: 2em;
  padding-bottom: 10px;
}

.header-container__description {
  font-size: 1.0em;
}
