.playlist-container {
  position: relative;
  grid-area: playlist;
  display: grid;
  grid-template-rows: [header] 120px [tracks] 1fr;
  background-image: linear-gradient(rgba(58, 58, 58, 1), rgb(24, 24, 24) 40%);
}
